 .history-container{
    max-width: 70%;
    margin: 0 auto;
 }
  .history-title {
    margin: 20px 0;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: rgba(0, 0, 255, 0.763);
  }
  
  .history-list {
    list-style: none;
    font-size: small;
  }
  
  .history-item {
    border-top: 1px solid #ccc;
    padding: 20px 20px ;
  }
  
  .history-item-title {
    text-align: left;
    font-weight: 500;
    font-size: medium;
    cursor: pointer; 
    transition: color 0.3s ease;
  }
  
  .history-item-title:hover {
    color:rgba(0, 0, 255, 0.763) ;
  }

  .history-item-abstract {
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  