.MainBody {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    position: relative;
    flex: 1;
    background-image: url('/public/library-university-books-1556469-wallhere.com.png');
    /* 이미지 파일 경로를 맞게 지정하세요 */
    background-size: cover;
    /* 이미지를 컨테이너에 맞게 확대/축소 */
    background-position: center;
    /* 이미지를 가운데 정렬 */
    background-repeat: no-repeat;
    /* 이미지 반복 없음 */
    opacity: 70%;
    /* 배경 색상 및 투명도 설정 */
}

.MainBody h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.MainBody h3 {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.search {
    display: flex;
    max-width: 100%;
}

.searchInput {
    width: 600px;
    display: flex;
    float: left;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 45px;
    align-items: center;
    justify-content: center;
}

.searchButton {
    margin: 4px 8px;
    background-color: #007bffc5;
    color: #fff;
    border: none;
    cursor: pointer;
    float: right;
    width: 100px;
    height: 47px;
    border-radius: 45px;
}

.searchIcon {
    margin-top: 2px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border: none;
    outline: none;
    background-color: #ffffff !important;
    /* 배경색 적용이 안되어 강제적용 */
}

.descript {
    /* position: fixed; */
    margin-top: 3%;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptShowButton,
.descriptShowButton2 {
    background-color: transparent;
    color: #3f3e3e;
    background-color: #e5e5e584;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 40px;
    position: relative;
}

.showDescript,
.showDescript2 {
    position: absolute;
    width: 500px;
    max-height: 200px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.114);
    padding: 10px;
    overflow-y: auto;
    border-radius: 7px;
    z-index: 2;
    top: 100%;
    /* show-button 바로 아래로 위치하도록 설정 */
    left: 50%;
    /* 가로 가운데 정렬 */
    transform: translateX(-50%);
    /* 수평 가운데 정렬 */
}