/* Main.css */
.main{
    z-index: 999;
}
.MainBody {
    padding-top: 8%;
    padding-left: 13%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    position: relative;
    flex: 1;
    background-color: rgba(252, 218, 0, 0.126);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.083); /* 그림자 효과 추가 */
    z-index: 6 ;
}


.MainBody h1 {
    color: #374D9A;
}

.MainBody h3 {
    color: #354789e4;
    margin-bottom: 25px;
}

.search {
    display: flex;
    max-width: 100%;
}

.searchInput {
    width: 590px;
    height: 70px;
    display: flex;
    align-items: center;
    border: 1px solid hsla(50, 100%, 50%, 0.411);
    border-radius: 15px;
    justify-content: center;
    background-color: white;
}

.searchButton {
    background-color: hsl(28, 100%, 50%);
    margin-right: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    float: right;
    width: 140px;
    height: 85%;
    border-radius: 15px;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border: 1px hsl(28, 100%, 50%);
    outline: none;
    background-color: #ffffff;
}

.foot {
    margin-left: 8%;
}

.descript {
    bottom: 0%;
    width: 100%;
}

.descriptShowButton {
    background-color: transparent;
    color: #3f3e3e;
    display: inline-block;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 50px solid #374c9a33;
    border-bottom: 0px;
    width: 200px;
    height: 0px;
    position: relative;
    transition: top 0.3s ease-in-out;
    /* z-index: -1; */
}

.descriptShowButton .buttonText {
    position: relative;
    top: -40px;
}

.descriptShowButton.clicked {
    top: 205px;
    background-color: transparent;
    color: #3f3e3e;
    display: inline-block;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 50px solid #374c9a33;
    border-bottom: 0px;
    width: 200px;
    height: 0px;
    position: relative;
    transition: top 0.3s ease-in-out;
}

.descriptShowButton2 {
    background-color: transparent;
    color: #3f3e3e;
    display: inline-block;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 50px solid hsla(28, 100%, 50%, 0.23);
    border-bottom: 0px;
    width: 200px;
    height: 0px;
    position: relative;
    transition: top 0.3s ease-in-out;
    z-index: 0;
}

.descriptShowButton2 .buttonText2 {
    position: relative;
    top: -40px;
}

.descriptShowButton2.clicked {
    top: 200px; /* Adjust the height as needed */
    border-top: 0px;
    border-bottom: 50px solid hsla(28, 100%, 50%, 0.23);
}

.showDescript,
.showDescript2 {
    top: -200px; /* 초기 위치를 위로 설정 */
    position: absolute;
    width: 500px;
    max-height: 0px; /* 초기에 숨겨진 상태로 시작 */
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.114);
    overflow-y: hidden;
    border-radius: 7px;
    z-index: 1;
    transition: top 0.3s ease-in-out, max-height 0.3s ease-in-out;
}


.showDescript.show {   
    top: 535px; /* 나타날 때의 위치를 조절 */
    max-height: 200px; /* 나타날 때의 높이를 조절 */
    z-index: 1; /* MainBody 위로 이동 */

}
.showDescript.hide {
    top: -200px; /* 숨길 때의 위치를 위로 조절 */
    max-height: 0px; /* 숨길 때의 높이를 0으로 조절 */
    z-index: -1; /* MainBody 위로 이동 */

}