/* 메뉴 바 */
.top-menu3 {
    display: flex;
    align-items: center;
    /* 수직 정렬 */
    justify-content: space-between;
    /* 가로 정렬을 설정합니다. Flexbox 컨테이너 내에서 자식 요소들 사이에 공간을 균등하게 분배하여 양 끝에 정렬 */
    padding: 2px 30px;
    background-color: #fafafa;
    box-shadow: 30px 5px 10px rgba(0, 0, 0, 0.184);
    /* 가로 세로 흐림반경 색 투명도*/
    margin-bottom: 5px;
  }
  
  .logo-container3 {
    display: flex; /* 이미지와 텍스트를 나란히 정렬 */
    align-items: center; /* 수직 정렬 */
  }
  
  .logo3 {
    width: 60px;
    height: auto;
    margin-right: 10px; /* 이미지와 텍스트 사이 간격 */
  }
  
  .menu-links3 {
    display: flex;
    gap: 20px;
  }
  
  .menu-links3 a {
    color: #1a0dab;
    text-decoration: none;
    font-size: 14px;
  }
  .search-container3{
    margin-left: 30px;
    width: 450px;
    display: flex;
    align-items: flex-start;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 45px;}
    
/* 두번째 메뉴 바 */
    .second-menu {
    display: flex;
    align-items: center;
    /* 수직 정렬 */
    justify-content: space-between;
    padding: 2px 30px;
    background-color: #fafafa;
    box-shadow: 30px 5px 10px rgba(0, 0, 0, 0.4);
    /* 가로 세로 흐림반경 색 투명도*/
  }
  button {
  background-color: white; /* 배경색을 흰색으로 설정 */
  color: rgba(19, 158, 244, 0.862); /* 텍스트 색상을 파란색으로 설정 */
  border: 2px solid rgba(19, 158, 244, 0.862); /* 테두리를 파란색으로 설정 */
  padding: 10px 20px; /* 내부 여백 설정 (위아래 10px, 좌우 20px) */
  cursor: pointer; /* 커서 모양을 포인터로 변경하여 클릭 가능한 상태로 표시 */
  margin-right: 10px;
  border-radius: 45px;
}
/* 버튼에 호버 효과 추가 */
button:hover {
  background-color: rgba(19, 158, 244, 0.862); /* 마우스를 올렸을 때 배경색을 파란색으로 변경 */
  color: white; /* 마우스를 올렸을 때 텍스트 색상을 흰색으로 변경 */
}

.left-page-box {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 1px;
  margin-bottom: 5px;
  width: 80%;
  max-width: 300px;
}