html,
body {
    height: 100%;
    background-color: darkkhaki;
}

/* 메뉴 바 */
.top-menu3 {
    display: flex;
    align-items: center;
    /* 수직 정렬 */
    justify-content: space-between;
    /* 가로 정렬을 설정합니다. Flexbox 컨테이너 내에서 자식 요소들 사이에 공간을 균등하게 분배하여 양 끝에 정렬 */
    padding: 2px 30px;
    background-color: #fafafa;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.184);
    /* 가로 세로 흐림반경 색 투명도*/
    margin-bottom: 5px;
}
.logo-container3 {
    display: flex;
    /* 이미지와 텍스트를 나란히 정렬 */
    align-items: center;
    /* 수직 정렬 */
}
.logo3 {
    width: 60px;
    height: auto;
    margin-right: 10px;
    /* 이미지와 텍스트 사이 간격 */
}
.menu-links3 {
    display: flex;
    gap: 20px;
}
.menu-links3 a {
    color: #1a0dab;
    text-decoration: none;
    font-size: 14px;
}
.search-container3 {
    width: 450px;
    display: flex;
    align-items: center;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 45px;
    margin: 5px 30px 5px 30px;
}
.search-icon {
    height: 35px;
    width: 35px;
}
.search-input {
    background-color: #fafafa;
    font-size: large;
    margin-top: 2px;
}

/* 두번째 메뉴 바 */
.second-menu {
    display: flex;
    align-items: center;
    /* 수직 정렬 */
    justify-content: space-between;
    padding: 2px 30px;
    background-color: #fafafa;
    box-shadow: 30px 5px 10px rgba(0, 0, 0, 0.4);
    /* 가로 세로 흐림반경 색 투명도*/
}

.button-bar {
    background-color: white;
    /* 배경색을 흰색으로 설정 */
    color: rgba(19, 158, 244, 0.862);
    /* 텍스트 색상을 파란색으로 설정 */
    border: 2px solid rgba(19, 158, 244, 0.862);
    /* 테두리를 파란색으로 설정 */
    padding: 10px 20px;
    /* 내부 여백 설정 (위아래 10px, 좌우 20px) */
    cursor: pointer;
    /* 커서 모양을 포인터로 변경하여 클릭 가능한 상태로 표시 */
    margin-right: 10px;
    border-radius: 45px;
}

/* 버튼에 호버 효과 추가 */
.button-bar:hover {
    background-color: rgba(19, 158, 244, 0.862);
    /* 마우스를 올렸을 때 배경색을 파란색으로 변경 */
    color: white;
    /* 마우스를 올렸을 때 텍스트 색상을 흰색으로 변경 */
}

.page {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* 페이지를 수평으로 배치하고, 왼쪽, 가운데, 오른쪽으로 정렬합니다. */
    height: 100%;
    /* 페이지의 높이를 화면 높이로 설정합니다. */
    overflow: hidden;
    /* 내용이 페이지 영역을 넘어갈 경우 스크롤바를 숨깁니다. */
}

.left-page {
    padding-top: 10px;
    /* height: 100%; */
    background-color: antiquewhite;
    border-right: 2px solid #ccc;
    flex: 0.6;
    /* 왼쪽 1/3 공간을 차지합니다. */
    transition: transform 0.5s ease;
    /* 트랜지션을 사용하여 부드러운 확장/축소 애니메이션을 적용합니다. */
    transform: translateX(-100%);
    /* margin-bottom: calc(100vh - 2px);  */
}
.left-page.closed {
    transform: translateX(0%);
    /* left-page를 왼쪽으로 이동하여 숨기지만, 다시 열 때 원래 위치로 돌아오도록 transform 초기화 필요 */
}
.leftpage-Search-container {
    width: 100%px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 15px 0px 15px 0px;
}
.leftpage-search-icon {
    height: 35px;
    width: 35px;
}
.leftpage-search-input {
    width: 80%;
    border: none;
    border-bottom: 1px solid #525252;
    background-color: rgba(0, 0, 0, 0); 
}
.leftpage-search-button{
    border: none;
    color:  rgba(19, 158, 244, 0.862);
    background-color: rgba(0, 0, 0, 0); 
}
.left-page-box {
    font-size: small;
    border-top: 2px solid #ccc;
    border-radius: 0px;
    padding: 5px 15px 5px 15px;
    margin-bottom: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.184);
    /* 가로 세로 흐림반경 색 투명도*/
    /* max-width: 300px; */
}
.left-page-author {
    color: #818080;
}
.left-page-year {
    float: right;
    /* 오른쪽으로 정렬 */
    color: #818080;
}
.left-button {
    position: absolute;
    top: 9px;
    left: calc(100%);
    width: 30px;
    height: 70px;
    background-color: rgba(173, 175, 176, 0.632);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: background-color 0.5s ease;
}
.left-button:hover {
    background-color: rgba(19, 158, 244, 1);
    /* 호버 시 배경색 변경 */
}

.middle-page {
    flex: 1.4;
    margin: 0 20px;
    /* middle-page의 좌우 여백을 설정합니다. */
}

.right-page {
    padding: 10px 10px 0px 20px;
    /* height: 100%; */
    border-left: 2px solid #ccc;
    /* background-color: #ccc; */
    flex: 1;
    /* right-page를 늘어난 공간만큼 확장시킵니다. */
    transition: transform 0.5s ease;
    /* 트랜지션을 사용하여 부드러운 확장/축소 애니메이션을 적용합니다. */
    transform: translateX(0%);
}

right-page.open {
    transform: translateX(0%);
}
.right-page.closed {
    transform: translateX(100%);
}
.rignt-button {
    position: absolute;
    top: 9px;
    right: 100%;
    width: 30px;
    height: 70px;
    background-color: rgba(173, 175, 176, 0.632);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: background-color 0.5s ease;
}
.right-button:hover {
    background-color: rgba(19, 158, 244, 1);
    /* 호버 시 배경색 변경 */
}