.top-menu {
    display: flex;
    align-items: center;
    /* 수직 정렬 */
    justify-content: space-between;
    /* 가로 정렬을 설정합니다. Flexbox 컨테이너 내에서 자식 요소들 사이에 공간을 균등하게 분배하여 양 끝에 정렬 */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    /* 가로 세로 흐림반경 색 투명도*/
}

.logo-container {
    display: flex;
    /* 이미지와 텍스트를 나란히 정렬 */
    align-items: center;
    /* 수직 정렬 */
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

/* .menu-links {
    display: flex;
    gap: 20px;
}

.menu-links a {
    color: #1a0dab;
    text-decoration: none;
    font-size: 14px;
} */

.Main-body {
    /* height: 70vh;  */
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* max-width: 100%;  */
}

.search {
    display: flex;
    max-width: 100%;
}
.search-container {
    width: 600px;
    display: flex;
    float: left;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 45px;
    align-items: center;
    justify-content: center;
}

.search-button {
    margin: 4px 8px;
    background-color: #007bffc5;
    color: #fff;
    border: none;
    cursor: pointer;
    float: right;
    width: 100px;
    height: 47px;
    border-radius: 45px;
}

.search-icon {
    margin-top: 2px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border: none;
    outline: none;
    background-color: #ffffff !important; 
    /* 배경색 적용이 안되어 강제적용 */
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 20px; /* 구분선과 위 요소 사이 여백 조정 */
}
.show-button {
    background-color: #007bffc5;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-top: 20px; /* 버튼과 구분선 사이 여백 조정 */
}