.search-icon {
    height: 35px;
    width: 35px;
}
.search-input {
    background-color: #fafafa;
    font-size:medium;
    margin-top: 2px;
}

.leftpage-search-icon {
    height: 35px;
    width: 35px;
}
.leftpage-search-input {
    outline: none;
    width: 80%;
    border: none;
    border-bottom: 1px solid #525252;
    background-color: rgba(0, 0, 0, 0); 
}

.left-page-box {
    font-size: small;
    border-top: 2px solid #ccc;
    border-radius: 0px;
    padding: 5px 15px 5px 15px;
    margin-bottom: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.184);
    /* 가로 세로 흐림반경 색 투명도*/
    /* max-width: 300px; */
}
.left-page-author {
    color: #818080;
}
.left-page-year {
    float: right;
    /* 오른쪽으로 정렬 */
    color: #818080;
}